//reset
button,
a.btn {
  cursor: pointer;
  display: block;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: bold;
  color: $base;
  border: 2px solid transparent;
  padding: 0.9em 2em;
  user-select: none;
  -webkit-user-drag: none;
  transition: 200ms;

  &:hover {
    transform: scale(0.95);
  }
}

//basics
button.round,
a.round {
  border-radius: 4em;
}
button.semi,
a.semi {
  border-radius: 0.4em;
}
button.out,
a.out {
  border-color: $base;
}
button.disabled,
a.disabeled {
  cursor: not-allowed;
  background: $grey;
  color: $disabled;
}

//colors
button.pri,
a.pri {
  background: $pri;
  border-color: $pri;
}
button.sec,
a.sec {
  background: $sec;
  border-color: $sec;
}
button.black,
a.black {
  background: $black;
  border-color: $black;
  color: $bg;
}
button.white,
a.white {
  background: $white;
  border-color: $white;
}
button.link,
a.link {
  background: $link;
  border-color: $link;
  color: $white;
}
button.succ,
a.succ {
  background: $success;
  border-color: $success;
  color: $white;
}
button.warn,
a.warn {
  background: $warning;
  border-color: $warning;
}
button.err,
a.err {
  background: $error;
  border-color: $error;
  color: $white;
}

button.outpri,
a.outpri {
  color: $pri;
  border-color: $pri;
}
button.outsec,
a.outsec {
  color: $sec;
  border-color: $sec;
}
button.outblack,
a.outblack {
  color: $black;
  border-color: $black;
}
button.outwhite,
a.outwhite {
  color: $white;
  border-color: $white;
}
button.outlink,
a.outlink {
  color: $link;
  border-color: $link;
}
button.outsucc,
a.outsucc {
  color: $success;
  border-color: $success;
}
button.outwarn,
a.outwarn {
  color: $warning;
  border-color: $warning;
}
button.outerr,
a.outerr {
  color: $error;
  border-color: $error;
}
