//reset
button,
a.btn {
  cursor: pointer;
  display: block;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 0.9em 2em;
  user-select: none;
  -webkit-user-drag: none;
  transition: 200ms;

  &:hover {
    transform: scale(0.95);
  }
}

//basics
button.round,
a.round {
  border-radius: 4em;
}
button.semi,
a.semi {
  border-radius: 0.4em;
}
button.out,
a.out {
  border-color: var(--base);
}
button.disabled,
a.disabeled {
  cursor: not-allowed;
  background: var(--grey);
  color: var(--dis);
}

//colors
button.pri,
a.pri {
  background: var(--pri);
  border-color: var(--pri);
}
button.sec,
a.sec {
  background: var(--sec);
  border-color: var(--sec);
}
button.black,
a.black {
  background: var(--black);
  border-color: var(--black);
  color: var(--white);
}
button.white,
a.white {
  background: var(--white);
  border-color: var(--white);
}
button.info,
a.info {
  background: var(--info);
  border-color: var(--info);
  color: var(--white);
}
button.succ,
a.succ {
  background: var(--succ);
  border-color: var(--succ);
  color: var(--white);
}
button.warn,
a.warn {
  background: var(--warn);
  border-color: var(--warn);
}
button.err,
a.err {
  background: var(--err);
  border-color: var(--err);
  color: var(--white);
}

button.outpri,
a.outpri {
  color: var(--pri);
  border-color: var(--pri);
}
button.outsec,
a.outsec {
  color: var(--sec);
  border-color: var(--sec);
}
button.outblack,
a.outblack {
  color: var(--black);
  border-color: var(--black);
}
button.outwhite,
a.outwhite {
  color: var(--white);
  border-color: var(--white);
}
button.outinfo,
a.outinfo {
  color: var(--info);
  border-color: var(--info);
}
button.outsucc,
a.outsucc {
  color: var(--succ);
  border-color: var(--succ);
}
button.outwarn,
a.outwarn {
  color: var(--warn);
  border-color: var(--warn);
}
button.outerr,
a.outerr {
  color: var(--err);
  border-color: var(--err);
}
