$pri: cyan;
$sec: magenta;
$ter: yellow;
$white: #fff;
$black: #000;
$grey: #808080;

:root {
  //primary color
  --pri: cyan;
  --pri-100: #{lighten($pri, 80%)};
  --pri-200: #{lighten($pri, 40%)};
  --pri-300: #{lighten($pri, 10%)};
  --pri-500: #{$pri};
  --pri-700: #{darken($pri, 10%)};
  --pri-800: #{darken($pri, 40%)};
  --pri-900: #{darken($pri, 80%)};

  //secondary color
  --sec: magenta;
  --sec-100: #{lighten($sec, 40%)};
  --sec-200: #{lighten($sec, 30%)};
  --sec-300: #{lighten($sec, 20%)};
  --sec-400: #{lighten($sec, 10%)};
  --sec-500: #{$sec};
  --sec-600: #{darken($sec, 10%)};
  --sec-700: #{darken($sec, 20%)};
  --sec-800: #{darken($sec, 30%)};
  --sec-900: #{darken($sec, 40%)};

  --ter: yellow;
  --ter-100: #{lighten($ter, 40%)};
  --ter-200: #{lighten($ter, 30%)};
  --ter-300: #{lighten($ter, 20%)};
  --ter-400: #{lighten($ter, 10%)};
  --ter-500: #{$ter};
  --ter-600: #{darken($ter, 10%)};
  --ter-700: #{darken($ter, 20%)};
  --ter-800: #{darken($ter, 30%)};
  --ter-900: #{darken($ter, 40%)};

  --white: #fff;
  --white-500: #{$white};
  --white-600: #{darken($white, 10%)};
  --white-700: #{darken($white, 20%)};
  --white-800: #{darken($white, 30%)};
  --white-900: #{darken($white, 40%)};

  --black: #000;
  --black-100: #{lighten($black, 40%)};
  --black-200: #{lighten($black, 30%)};
  --black-300: #{lighten($black, 20%)};
  --black-400: #{lighten($black, 10%)};
  --black-500: #{$black};

  --grey: #808080;
  --grey-100: #{lighten($grey, 20%)};
  --grey-200: #{lighten($grey, 15%)};
  --grey-300: #{lighten($grey, 10%)};
  --grey-400: #{lighten($grey, 5%)};
  --grey-500: #{$grey};
  --grey-600: #{darken($grey, 5%)};
  --grey-700: #{darken($grey, 10%)};
  --grey-800: #{darken($grey, 15%)};
  --grey-900: #{darken($grey, 20%)};

  --bg: #fafafa;
  --bg-dark: #212121;

  --base: #212121;
  --base-dark: #fafafa;

  --border: #e0e0e0;
  --border-dark: #bdbdbd;

  --info: #2196f3;
  --succ: #00c853;
  --warn: #ffc107;
  --err: #d50000;
  --dis: #bdbdbd;

  //media queries
  --mobile: 600px;
  --tablet: 900px;

  --font: "Circular Std", "Segoe UI Emoji", sans-serif;

  --shadow-s: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-m: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-l: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-xl: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
